<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Select a user to view its details: </h2>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <h3>User</h3>
        <div class="row" (click)="onItemClick(user)" *ngFor="let user of users">
          {{user.name}}
        </div>
      </div>
      <div class="col-sm-6">
        <h3>User Details</h3>
        <div class="details">
          <div>Name: {{selectedUser.name}}</div>
          <div>User Name: {{selectedUser.username}}</div>
          <div>Email: {{selectedUser.email}}</div>
          <div>
            <div>Address:</div>
            <div>{{selectedUser.address.suite}}</div>
            <div>{{selectedUser.address.street}}</div>
            <div>{{selectedUser.address.city}}</div>
            <div>{{selectedUser.address.zipcode}}</div>
          </div>
          <div>Company: {{selectedUser.company.name}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

